body{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

.container{
  height: 1024px;
  width: 1440px;
  grid-row: 2/ 2;
  grid-column: 2/2;
  background-color: black;
}
.container-grid{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
}

aside{
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: wheat;
  margin: 10px;
  border-radius: 10px;
}
main{
  grid-row: 1/1;
  grid-column: 2/6;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}
.main-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 5fr;
}

header{
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: black;
  margin: 10px;
  border-radius: 10px;
}

.headers{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.greeting{
  grid-column: 1/1;
  grid-row: 1/1;
  background-color: rgb(139, 27, 27);
}
.time{
  grid-column: 2/2;
  grid-row: 1/1;
  background-color: rgb(21, 67, 107);
}
.countdown-image{
  grid-row:2/2 ;
  grid-column: 1/1;
  background-color: rgb(165, 19, 19);
  margin: 10px;
  border-radius: 10px;
}
.countdown-style{
  display: grid;
  grid-template-columns:3fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;
}
.task-countdown-text{
  grid-row: 2/2;
  grid-column: 2/2;
  margin: 10px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
}
.box-grid{
  grid-row: 2/2;
  grid-column: 1/1;
  border-radius: 10px;
  margin: 10px;
}
.countdown-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.hours{
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: aliceblue;
  opacity: 20%;
  margin: 10px;
  border-radius: 10px;
}
.minutes{
  grid-row: 1/1;
  grid-column: 2/3;
  background-color: aliceblue;
  opacity: 20%;
  margin: 10px;
  border-radius: 10px;
}
.seconds{
  grid-row: 1/1;
  grid-column: 3/4;
  background-color: rgb(0, 0, 0);
  opacity: 20%;
  margin: 10px;
  border-radius: 10px;
}